<div class="container">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6 content">
      <p>
        Loosely designed in Figma and coded in Visual Studio Code by yours
        truly. Built with Angular, BootStrap and SCSS, deployed with Vercel. All
        text is set in the Inter typeface.
      </p>
      <img src="../../../assets/gifs/codeGif.gif" alt="" />
    </div>
  </div>
</div>
<footer class="text-center text-white">
  <div class="container pt-4">
    <section class="mb-4">
      <a
        mdbRipple
        rippleColor="dark"
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="mailto:aymanuddin.se@gmail.com"
        role="button"
        ><i class="fab fa-google"></i
      ></a>
      <a
        mdbRipple
        rippleColor="dark"
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.instagram.com/aayyymann/"
        target="_blank"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        mdbRipple
        rippleColor="dark"
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.linkedin.com/in/aymanuddin/"
        role="button"
        target="_blank"
        ><i class="fab fa-linkedin"></i
      ></a>
      <!-- Github -->
      <a
        mdbRipple
        rippleColor="dark"
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://github.com/Ayman306"
        role="button"
        target="_blank"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div
    class="text-center text-dark p-0"
    style="background-color: rgb(237, 237, 237)"
  >
    © 2020 Copyright:
    <a class="text-dark p-0">aymanddin.com</a>
  </div>
  <!-- Copyright -->
</footer>
