.logo {
  width: 100px;
  height: 100px;
  cursor: pointer;
  img {
    width: inherit;
    height: inherit;
  }
}
.mail {
  margin-left: 20px;
  text-decoration: none;
  width: auto;
  align-items: center;
  display: flex;

  .btn {
    color: white;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 20px;
    transition: 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
.menu {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  span {
    margin-top: 6px;
    width: 30px;
    height: 3px;
    background-color: black;
  }
}
.btn{
  border: none;
}
