<div class="main">
  <div class="main_sub fadeAnimation">
    <div class="content ">
      <h1 class="header p-0 m-0 underline fade-in">Code Create</h1>
      <h1 class="header p-0 m-0">Captivate</h1>
      <h1 class="header p-0 m-0">
        C
        <a href="mailto:aymanuddin.se@gmail.com" class="mailIcon">
          <img src="assets/pen.svg" alt="" srcset=""
        /></a>
        nnect
      </h1>
    </div>
    <div class="content_sub">
      <p class="sub_header">
        I design compelling user experiences that harmonize business goals and
        user needs for brands and startups.
      </p>
    </div>
  </div>
</div>
  <video loop
  autoplay>
  <source src="/src/assets/scroll-down.gif" type="video/gif">
</video>
