<div class="main">
  <div class="main_sub">
    <div class="content">
      <p class="header p-0 m-0">Code Create</p>
      <p class="header p-0 m-0">Captivate</p>
      <p class="header p-0 m-0">
        C
        <a href="mailto:aymanuddin.se@gmail.com" class="mailIcon">
          <img src="assets/pen.svg" alt="" srcset=""
        /></a>
        nnect
      </p>
    </div>
    <div class="content_sub">
      <p class="sub_header">
        I design compelling user experiences that harmonize business goals and
        user needs for brands and startups.
      </p>
    </div>
  </div>
</div>
