<div class="main">
  <div class="main_sub fadeAnimation">
    <div class="content">
      <h1 class="header p-0 m-0 underline fade-in">Code Create</h1>
      <h1 class="header p-0 m-0">Captivate</h1>
      <h1 class="header p-0 m-0">
        C
        <a href="mailto:aymanuddin.se@gmail.com" class="mailIcon floating">
          <img src="assets/pen.svg" alt="" srcset=""
        /></a>
        nnect
      </h1>
    </div>
    <div class="content_sub">
      <p class="sub_header floating">
        I design compelling user experiences that harmonize business goals and
        user needs for brands and startups.
      </p>
    </div>
  </div>
</div>
<div class="scrollDown" class="w-100">
  <img
    src="../../../assets/gifs/scroll-down.gif"
    alt=""
    class="mx-auto d-block"
  />
</div>
<!-- <app-about></app-about> -->

<div class="about">
  <div class="aboutmain">
      <h2>Sofware<br>Engineer</h2>
      <p>
       Experienced software engineer in live Angular projects
  and skilled in MEAN stack development. Proficient in crafting clean, adaptable code,
  valuing continuous learning and I'm good at fitting into existing projects. Excited to
  contribute to your team's success!
      </p>
  </div>
</div>
<div class="stack">
  <div class="stack_main">
    <div class="head d-flex justify-content-center align-items-center">
      <div class="image ">
        <img class=" w-75" src="https://www.simplilearn.com/ice9/free_resources_article_thumb/fullstack_php_js.jpg" alt="" srcset="">
      </div>
      <p class="text-left w-75">
        Proficient in the MEAN stack, MongoDB, Express.js, Angular, and Node.js come together under my guidance to craft robust web applications. These technologies, when harmonized, deliver both functionality and aesthetics. The resulting applications are not just user-friendly but also visually appealing, ensuring a satisfying experience for all."
      </p>
    </div>

    <div class="milstone mt-5">
      <h2 class="pl-2">MileStone</h2>
      <ul>
        <li class="d-flex justify-content-space-between align-items-baseline">
          <h3>2022-May</h3>
          <p class="p-3">Graduated with Bachelors in Computer Application</p>
        </li>
        <hr/>
        <li class="d-flex justify-content-space-between align-items-baseline">
          <h3 class="text-nowrap">2022-June</h3>
          <p class="p-3">Started my career as an Software Engineer Intern at <b>Pace Wisdom Solution</b></p>
        </li>
        <hr/>
       <li class="d-flex justify-content-space-between align-items-baseline">
          <h3 class="text-nowrap">2023 - Present</h3>
          <p class="p-3">Currently working as an Associate Software Engineer at <b>Pace Wisdom Solution</b></p>
        </li>
        <hr>
       <li class="d-flex justify-content-space-between align-items-baseline">
          <h3 class="text-nowrap d-none">2024</h3>
          <p class="animate-flicker p-3">Loading...</p>
        </li>
      </ul>
    </div>

    <div class="work py-5">
      <div class="work_main d-flex justify-content-center">
        <div class="cards p-1">
          <div class="icon text-center">
            <i class="fa-solid fa-bolt"></i>
            <h1>10+</h1>
                        <p>Succesfull Projects</p>

          </div>
        </div>
        <div class="cards p-1">
<div class="icon text-center">
          <i class="fa-solid fa-user"></i>
            <h1>5</h1>
            <p>Impressed Clients</p>
          </div>
        </div>
        <div class="cards p-1 mb-5">
<div class="icon text-center">
           <i class="fa-solid fa-mug-hot"></i>
            <h1>15k+</h1>
            <p>Cups of Coffee</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
