@import url("../../../assets/styles/animations.scss");
.main {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(250, 250, 250, 0.3)),url("https://images.pexels.com/photos/390392/pexels-photo-390392.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 75vh;
  &_sub {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .content {
      margin-top: 30px;
      .header {
        font-size: 70px;
        font-weight: 900;
        text-align: right;
        display: flex;
        justify-content: end;
        align-items: center;
        color: black;
        line-height: 100px;
        letter-spacing: 5px;
        text-transform: uppercase;
        .mailIcon {
          border-radius: 50%;
          background: rgb(0, 94, 255);
          width: 45px;
          height: 45px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 8px;
          margin: 5px;
          margin-top: 13px;
          transition: 0.5s;
          &:hover {
            background-color: black;
            transform: scale(1.1);
          }
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
    .content_sub {
      .sub_header {
        margin-left: 20px;
        padding-top: 0;
        // font-size: 16px;
        font-weight: 600;
        display: block;
        width: 400px;
      }
    }
  }
}
.scrollDown {
  height: 250px;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .main {
    &_sub {
      display: block;
      text-align: center;
      .content {
        margin-top: auto;
        .header {
          justify-content: center;
          font-size: 45px;
          text-align: center;
          a {
            margin-top: 5px;
            width: 40px;
            height: 40px;
            img {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
      .content_sub {
        .sub_header {
          width: auto;
          margin: 0;
          padding: 5px;
        }
      }
    }
  }
}
