<div class="main">
  <h1 class="display-4">AYMANUDDIN</h1>
  <p class="lead">Mangalore, Karnataka, India</p>
  <p class="lead">+91-9741025256</p>
  <p class="s1">
    <a href="https://linkedin.com/your-profile-link" class="text-primary" target="_blank">LinkedIn</a> |
    <a href="https://github.com/Ayman306" class="text-dark" target="_blank">GitHub</a> |
    <a href="mailto:aymanuddin.se@gmail.com" target="_blank">aymanuddin.se@gmail.com</a>
  </p>
  <h2 class="display-5">SUMMARY</h2>
  <p class="s2 w-75 py-2">
    Dedicated Full Stack Developer with expertise in Angular, Node.js, and the MEAN stack. Skilled in leading
    dynamic web app development to enhance user experiences, optimize performance, and seamlessly integrate
    APIs. Proficient in translating designs into engaging front-end solutions and collaborating effectively
    within cross-functional teams. Well-versed in Scrum methodology for streamlined project execution. Backed by
    a bachelor's degree in computer application and proficiency in diverse programming languages and design
    tools. I am enthusiastic about fitness, travel, cooking, and staying updated with social media trends.
  </p>
  <h2 class="display-5">PROFESSIONAL EXPERIENCE</h2>
  <h3 class="display-6">Pace wisdom Solution | Associate Software Engineer | SEPTEMBER 2022 - Present</h3>
  <ul class="list">
    <li>
      <p class="lead">Led dynamic web app development using Angular for enhanced user experiences.</p>
    </li>
    <li>
      <p class="lead">Collaborated to translate designs into engaging front-end solutions.</p>
    </li>
    <li>
      <p class="lead">Leveraged Angular's features for seamless API integration and real-time data.</p>
    </li>
    <li>
      <p class="lead">Optimized app performance, reduced load times, and improved satisfaction.</p>
    </li>
    <li>
      <p class="lead">Proficiently used Scrum methodology for smooth project execution.</p>
    </li>
  </ul>
  <h3 class="display-6">Internship | Pace wisdom Solution | JUNE 2022 – AUGUST 2022</h3>
  <ul class="list">
    <li>
      <p class="lead">Undertook immersive Angular learning projects, creating functional and full-fledged applications.
      </p>
    </li>
    <li>
      <p class="lead">Gained hands-on experience in frontend, backend, and database.</p>
    </li>
  </ul>
  <h2 class="display-5">PROJECTS</h2>
  <h3 class="display-6">
    Pangaeax | &nbsp;
    <a href="https://www.pangaeax.com/" target="_blank">Live Project</a>
  </h3>
  <ul class="list">
    <li>
      <p class="lead">Designed responsive layout for optimal user experience.</p>
    </li>
    <li>
      <p class="lead">Integrated real-time data updates with Angular's reactive programming.</p>
    </li>
    <li>
      <p class="lead">Utilized Angular Material and custom CSS for polished design.</p>
    </li>
    <li>
      <p class="lead">Employed Angular services for seamless API communication.</p>
    </li>
    <li>
      <p class="lead">Collaborated for front-end and back-end integration.</p>
    </li>
  </ul>
  <h3 class="display-6">
   Samhita | &nbsp;
    <a href="http://app.samhita.org/" target="_blank">Live Project</a>
  </h3>
  <ul class="list">
    <li>
      <p class="lead">Developed parent project "Samhita" with 2 sub-projects.</p>
    </li>
    <li>
      <p class="lead">Transformed UI into seamless design using Angular.</p>
    </li>
    <li>
      <p class="lead">Implemented complex survey features for credit score assessment.</p>
    </li>
    <li>
      <p class="lead">Collaborated with stakeholders for responsive UI alignment.</p>
    </li>
    <li>
      <p class="lead">Managed frontend logic, UI, and modules.</p>
    </li>
    <li>
      <p class="lead">Utilized Angular services to interact with the back-end API.</p>
    </li>
  </ul>
  <h3 class="display-6">E-Commerce Website | Freelancing Project</h3>
  <ul class="list">
    <li>
      <p class="lead">Leveraged MEAN stack for feature-rich ecommerce site.</p>
    </li>
    <li>
      <p class="lead">Collaborated for seamless design integration.</p>
    </li>
    <li>
      <p class="lead">Developed interactive product catalog and shopping cart.</p>
    </li>
    <li>
      <p class="lead">Implemented user authentication, authorization, and payment gateways.</p>
    </li>
    <li>
      <p class="lead">Played a vital role in testing and debugging for enhanced functionality.</p>
    </li>
  </ul>
  <h2 class="display-5">EDUCATION</h2>
  <p class="lead">St Aloysius College (Autonomous) Mangalore, India <br>
    <span class="text-primary">Bachelor's in Computer Application | CGPA: 8.0 | July 2022</span>
  </p>
  <p><br /></p>
  <p class="lead">St. Aloysius PU College. Mangalore, India <br>
    <span class="text-primary">PUC in CSBA | Percentage: 75% | May 2019</span>
  </p>
  <p><br /></p>
  <h2 class="display-5">SKILLS</h2>
  <p class="s4"><a name="bookmark0">Programming Languages</a></p>
  <ul class="list-unstyled">
    <li>
      <p class="lead">JavaScript | Typescript | Python Basics</p>
    </li>
  </ul>
  <p class="s4"><a name="bookmark1">Frontend</a></p>
  <ul class="list-unstyled">
    <li>
      <p class="lead">Angular | HTML | CSS | SCSS | Bootstrap</p>
    </li>
  </ul>
  <p class="s4"><a name="bookmark2">Backend</a></p>
  <ul class="list-unstyled">
    <li>
      <p class="lead">Node.js | Express.js</p>
    </li>
  </ul>
  <p class="s5"><a name="bookmark3">Database</a></p>
  <ul class="list-unstyled">
    <li>
      <p class="lead">Postgres | Mongodb</p>
    </li>
  </ul>
  <p class="s4"><a name="bookmark4">Design Tools</a></p>
  <ul class="list-unstyled">
    <li>
      <p class="lead">Figma | Photoshop | Visily</p>
    </li>
  </ul>
  <p class="s4"><a name="bookmark5">Other</a></p>
  <ul class="list-unstyled">
    <li>
      <p class="lead">Git, | GitHub | Gitlab | Sequalize | Visual Studio Code</p>
    </li>
  </ul>
  <p class="s3">Hobbies</p>
  <ul class="list-unstyled">
    <li>
      <p class="lead">Fitness | Travel | Cooking</p>
    </li>
  </ul>
  <p><br /></p>
  <p class="s3">Language Proficiency</p>
  <ul class="list-unstyled">
    <li>
      <p class="lead">English | Hindi | Kannada</p>
    </li>
  </ul>
</div>