 .main {
   width: 90vw;
   margin: 20px auto;
   box-shadow: 0.5px 0px 5px rgb(192, 192, 192);
   padding: 20px;
 }

 h1 {
   color: black;
   font-family: Calibri, sans-serif;
   font-style: normal;
   font-weight: bold;
   text-decoration: none;
   font-size: 24pt;
 }

 p {
   color: black;
   font-family: Calibri, sans-serif;
   font-style: normal;
   font-weight: normal;
   text-decoration: none;
   font-size: 11pt;
   margin: 0pt;
 }

 a {
   color: #0462C1;
   font-family: Calibri, sans-serif;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   font-size: 11pt;
 }

 .s1 {
   color: #0462C1;
   font-family: Calibri, sans-serif;
   font-style: normal;
   font-weight: normal;
   text-decoration: none;
   font-size: 11pt;
 }

 h2 {
   color: #001F5F;
   font-family: Calibri, sans-serif;
   font-style: normal;
   font-weight: bold;
   text-decoration: none;
   font-size: 16pt;
 }

 .s2 {
   color: #494949;
   font-family: Calibri, sans-serif;
   font-style: normal;
   font-weight: normal;
   text-decoration: none;
   font-size: 10.5pt;
 }

 h3 {
   color: #001F5F;
   font-family: Calibri, sans-serif;
   font-style: normal;
   font-weight: bold;
   text-decoration: none;
   font-size: 11pt;
 }

 .s3 {
   color: #001F5F;
   font-family: Calibri, sans-serif;
   font-style: normal;
   font-weight: normal;
   text-decoration: none;
   font-size: 11pt;
 }

 .s4 {
   color: #1F3762;
   font-family: "Calibri Light", sans-serif;
   font-style: normal;
   font-weight: normal;
   text-decoration: none;
   font-size: 12pt;
 }

 .s5 {
   color: #001F5F;
   font-family: "Calibri Light", sans-serif;
   font-style: normal;
   font-weight: normal;
   text-decoration: none;
   font-size: 12pt;
 }

 li {
   display: block;
 }

 #l1 {
   padding-left: 0pt;
 }

 #l1>li>*:first-child:before {
   content: " ";
   color: black;
   font-family: Symbol, serif;
   font-style: normal;
   font-weight: normal;
   text-decoration: none;
   font-size: 11pt;
 }