/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200&family=Marcellus&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  cursor: url("./assets/cursor.svg"), auto;
  font-family: "Marcellus", sans-serif;
  overflow-x: hidden !important;;
}
h1 {
  font-family: "Kanit", serif;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  &:hover{
    cursor: url("./assets/pointinghand.svg"),auto;
  }
}
ul {
  list-style: none;
}
/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Importing Bootstrap SCSS file. */
