.fadeAnimation {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
.hover-underline-animation {
  display: inline-block;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 25%;
    height: 2px;
    bottom: 0;
    left: 40%;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    animation: underline 3s infinite ease-in-out;
  }
}

@keyframes underline {
  0%,
  100% {
    transform: scaleX(0);
    transform-origin: bottom left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.perspective{

  transform: perspective(500px) rotateY(42deg);
  -webkit-transform: perspective(500px) rotateY(42deg);
  -moz-transform: perspective(500px) rotateY(42deg);
  -ms-transform: perspective(500px) rotateY(42deg);
  -o-transform: perspective(500px) rotateY(42deg);
  animation-name: rotate-windows;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes rotate-windows {
  0% {
    transform: perspective(500px) rotateY(42deg);
    -webkit-transform: perspective(500px) rotateY(42deg);
    -moz-transform: perspective(500px) rotateY(42deg);
    -ms-transform: perspective(500px) rotateY(42deg);
    -o-transform: perspective(500px) rotateY(42deg);
  }
  50% {
    transform: perspective(500px) rotateY(0deg);
    -webkit-transform: perspective(500px) rotateY(0deg);
    -moz-transform: perspective(500px) rotateY(0deg);
    -ms-transform: perspective(500px) rotateY(0deg);
    -o-transform: perspective(500px) rotateY(0deg);
  }
  100% {
    transform: perspective(500px) rotateY(42deg);
    -webkit-transform: perspective(500px) rotateY(42deg);
    -moz-transform: perspective(500px) rotateY(42deg);
    -ms-transform: perspective(500px) rotateY(42deg);
    -o-transform: perspective(500px) rotateY(42deg);
  }
}
